# copy this to .env

# !! required !!
APP_ENV=dev # [dev|prod]
SERVER_PORT=3000 # 3000

# !! change for production !!
APP_TOKEN=tapomix_puppeteer-srv_dev-token # tapomix_puppeteer-srv_dev-token

# >browser<
# CHROME_EXECUTABLE=/usr/bin/chromium
# KEEP_BROWSER_OPEN=false # [false|true]

# >rate limiters<
# RATE_LIMIT_GLOBAL_WINDOW=2
# RATE_LIMIT_GLOBAL_MAX=5
# RATE_LIMIT_API_WINDOW=1
# RATE_LIMIT_API_MAX=3
